<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../paper-styles/shadow.html">
<link rel="import" href="../chessalpha-core/chessalpha-core.html">
<link rel="import" href="../chessalpha-board/chessalpha-board.html">
<link rel="import" href="../chessalpha-board/chessalpha-graphics.html">
<link rel="import" href="../chessalpha-game/chessalpha-game-mixin.html"> 
<link rel="import" href="../chessalpha-game/chessalpha-game-clock-mixin.html"> 

<link rel="import" href="../ssf-socket/ssf-socket-room-mixin.html"> 
<link rel="import" href="ssf-play-game-socket-mixin.html"> 

<dom-module id="ssf-play-game-light">
  <template>
    <style>
      :host > * {
        --chessalpha-board-background: {
          @apply --shadow-elevation-2dp;
        };
      }
      :host {
        display: block;
        padding: 32px 0;
        position: relative;
      }
      .player {
        @apply --layout-horizontal;
        width: 100%;
        height: 32px;
        line-height: 32px;
        position: absolute;
      }
      :host([view-color="8"]) .player.black, :host([view-color="16"]) .player.white {
        top: -32px;
      }
      :host([view-color="16"]) .player.black, :host([view-color="8"]) .player.white {
        bottom: -32px;
      }

      .name {
        @apply --layout-flex;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .clock, .status-message {
        @apply --shadow-elevation-2dp;
        background: #FFF;
        padding: 0 8px;
      }
      :host([tomove="white"]) .white .clock, :host([tomove="black"]) .black .clock {
        background: #FFC;
      }

      .status-message {
        position: absolute;
        transform: translate(-50%,-50%);
        padding: 8px;
        background: rgba(255,255,255,.8);
        left: 50%;
        top: 50%;
        z-index: 1;
      }
      .status-message:empty {
        display: none;
      }
    </style>
    
    
    <chessalpha-board
      id="board"
      frame="[[frame]]"
      icons="[[icons]]"
      fit
      size="[[boardSize]]"
      reversed="[[reversed(viewColor)]]"
      is-valid-move="[[isValidMove]]"
      immovable="[[!moveable]]">
      <div slot="background">
        <div class="black player">
          <div class="name">[[game.black.name]]</div>
          <div class="clock block">[[blackclock]]</div>
        </div>
        <div class="white player">
          <div class="name">[[game.white.name]]</div>
          <div class="clock block">[[whiteclock]]</div>
        </div>
      </div>
      <chessalpha-graphics slot="innerboard" id="graphics" reversed="[[reversed(viewColor)]]"></chessalpha-graphics>
      <div slot="innerboard" class="status-message" hidden$="[[!_statusMessage(game.status, game.result)]]">[[_statusMessage(game.status, game.result)]]</div>
    </chessalpha-board>
    

  </template>

  <script>
    /**
     * `ssf-play-game-light`
     * 
     *
     * @customElement
     * @polymer
     * @appliesMixin Polymer.ChessalphaGameMixin
     * @appliesMixin Polymer.ChessalphaGameClockMixin
     * @appliesMixin Polymer.SSFSocketRoomMixin
     * @appliesMixin Polymer.SSFPlayGameSocketMixin
     * @demo demo/index.html
     */

    class SSFPlayGameLight extends Polymer.SSFPlayGameSocketMixin(Polymer.SSFSocketRoomMixin(Polymer.ChessalphaGameClockMixin(Polymer.ChessalphaGameMixin(Polymer.Element)))) {
      static get is() { return 'ssf-play-game-light'; }
      static get properties() {
        return {
          /**
           * Frameratio (frame size relative to squaresize).
           */
          frame: {
            type: Number,
            value: 5/31
          },

          /**
           * Object with background and pieces to use
           */
          icons: {
            type: Object,
            value: {
              background: 'chessalpha:smallframeboard',
              backgroundReversed: 'chessalpha:smallframeboard',
              pieces: {
                white: {
                  king: 'chessalphapiece:whiteking',
                  queen: 'chessalphapiece:whitequeen',
                  rook: 'chessalphapiece:whiterook',
                  bishop: 'chessalphapiece:whitebishop',
                  knight: 'chessalphapiece:whiteknight',
                  pawn: 'chessalphapiece:whitepawn'
                },
                black: {
                  king: 'chessalphapiece:blackking',
                  queen: 'chessalphapiece:blackqueen',
                  rook: 'chessalphapiece:blackrook',
                  bishop: 'chessalphapiece:blackbishop',
                  knight: 'chessalphapiece:blackknight',
                  pawn: 'chessalphapiece:blackpawn'
                }
              }
            }
          },

          game: {
            type: Object,
            value: function() { return new chessalpha.Game() }
          },

          isValidMove: {
            type: Function,
            value: function() {
              return function() { return false; }
            }
          },

          innerBoardElement: {
            type: HTMLElement
          },

          msg: {
            type: Object,
            value: () => ({
              'ACCEPTED': 'Väntar på spelare',
              'WHITEWIN': 'Vit vann',
              'BLACKWIN': 'Svart vann',
              'DRAW': 'Remi'
            })
          }
        };
      }

      connectedCallback() {
        super.connectedCallback();
        this.innerBoardElement = this.boardElement.innerBoardElement;
      }

      get boardElement() { return this.$.board }
      get graphicsElement() { return this.$.graphics }

      _statusMessage(status, result) {
        if(status<chessalpha.status.ACCEPTED) return this.msg.ACCEPTED;
        if(status>=chessalpha.status.ABORTED) return result==chessalpha.result.WHITEWIN ? this.msg.WHITEWIN:result==chessalpha.result.BLACKWIN ? this.msg.BLACKWIN:result==chessalpha.result.DRAW ? this.msg.DRAW:"";
        return "";
      }

    }

    window.customElements.define(SSFPlayGameLight.is, SSFPlayGameLight);
  </script>
</dom-module>
