<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">

<link rel="import" href="../paper-menu-button/paper-menu-button.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-listbox/paper-listbox.html">
<link rel="import" href="../paper-item/paper-item.html">

<link rel="import" href="../ssf-socket/ssf-socket-room-mixin.html">

<dom-module id="ssf-play-match-row">
  <template>
    <style>
      .flex {
        @apply --layout-flex;
      }
      :host > paper-item {
        @apply --row;
      }
      .cell {
        @apply --row-cell;
      }
      .board {
        @apply --row-cell-board;
      }
      .name {
        @apply --row-cell-name;
      }
      .name [name] {
        @apply --row-cell-name-name;
      }
      .color {
        @apply --row-cell-color;
      }
      .result {
        @apply --row-cell-result;
      }
      [grey] {
        @apply --row-cell-grey;
      }
      paper-menu-button {
        padding: 0;
        float: right;
      }
      paper-icon-button {
        width: 36px;
        height: 36px;
      }

      paper-item[name] {
        padding: 8px 0;
        height: 20px;
        line-height: 20px;
      }
      
      [name]:empty {
        display: none;
      }
      [name]:not(:empty) + span, [hidden] {
        display: none;
      }
    </style>

    <paper-item>
      <div class="cell board" grey>Bord [[_add(index,1)]]</div>
      <div class="cell color"><iron-icon icon="[[_colorIcon(index,0)]]"></iron-icon></div>
      <div class="cell name flex">
        <span name>[[homeName]]</span>
        <span grey hidden$="[[!homeCaptain]]">Ingen spelare vald</span>
        <paper-menu-button hidden$="[[_hidePlayers(homeCaptain,game.status)]]" horizontal-align="right" no-animations on-tap="_stopPropagation">
          <paper-icon-button icon="icons:arrow-drop-down" slot="dropdown-trigger"></paper-icon-button>
          <paper-listbox slot="dropdown-content" attr-for-selected="socket-id" on-iron-select="_selectHome">
            <template is="dom-repeat" items="[[homePlayers]]">
              <paper-item socket-id="[[item.id]]" name="[[item.name]]">[[item.name]]</paper-item>
            </template>
          </paper-listbox>
        </paper-menu-button>
      </div>
      <div class="cell color"><iron-icon icon="[[_colorIcon(index,1)]]"></iron-icon></div>
      <div class="cell name flex">
        <span name>[[awayName]]</span>
        <span grey hidden$="[[!awayCaptain]]">Ingen spelare vald</span>
        <paper-menu-button hidden$="[[_hidePlayers(awayCaptain,game.status)]]" horizontal-align="right" no-animations on-tap="_stopPropagation">
          <paper-icon-button icon="icons:arrow-drop-down" slot="dropdown-trigger"></paper-icon-button>
          <paper-listbox slot="dropdown-content" attr-for-selected="socket-id" on-iron-select="_selectAway">
            <template is="dom-repeat" items="[[awayPlayers]]">
              <paper-item socket-id="[[item.id]]" name="[[item.name]]">[[item.name]]</paper-item>
            </template>
          </paper-listbox>
        </paper-menu-button>  
      </div>
      <div class="cell result">[[_result(game.result,index)]]</div>
    </paper-item>

  </template>

  <script>
    /**
     * `ssf-play-match-row`
     * 
     *
     * @customElement
     * @polymer
     * @appliesMixin Polymer.SSFSocketRoomMixin
     * @demo demo/index.html
     */
    class SSFPlayMatchRow extends Polymer.SSFSocketRoomMixin(Polymer.Element) {
      static get is() { return 'ssf-play-match-row'; }
      static get properties() {
        return {
          index: Number,
          game: Object,
          gameid: String,

          roomid: {
            type: String,
            computed: "_roomFromGameid(gameid)"
          },

          homePlayers: Array,
          awayPlayers: Array,

          homeName: {
            type: String,
            value: ""
          },

          awayName: {
            type: String,
            value: ""
          },

          homeCaptain: Number,
          awayCaptain: Number
        }
      }
      static get observers() {
        return [
          "_whiteName(game.white.name)",
          "_blackName(game.black.name)"
        ]
      }

      _roomFromGameid(gameid) {
        return gameid ? "game:"+gameid:null;
      }

      _onRoomMessage(message) {
        if(message) {
          if(message.game) this.game = message.game;
          else if(message.set) {
            this.set(message.set.path, message.set.value);
            this.notifyPath(message.set.path, message.set.value)
          }
          else super._onRoomMessage(message)
        }        
      }

      _colorIcon(board, black) {
        return "chessalpha:"+["black","white"][board%2^black]+"-icon";
      }

      _selectHome(e, detail) {
        this._select(["black","white"][this.index%2], detail.item);
      }
      _selectAway(e, detail) {
        this._select(["white","black"][this.index%2], detail.item);
      }
      _select(color, item) {
        this.send({set:{path:`game.${color}.name`,value:item.name}})
        this.send({set:{path:`game.${color}.id`,value:item.socketId}})
      }

      _add() {
        var value = 0
          , i = arguments.length;
        while(i--) value+=arguments[i];
        return value;
      }

      _whiteName(name) {
        this[["awayName","homeName"][this.index%2]] = name;
      }
      _blackName(name) {
        this[["homeName","awayName"][this.index%2]] = name;
      }

      _stopPropagation(e) {
        e.preventDefault();
        e.stopPropagation();
      }

      _result(result,index) {
        if(!(index%2) && result&24) result^=24;
        return ({"0":"till partiet","4":"2-2","8":"3-1","16":"1-3"})[result]
      }

      _hideNoPlayersText(captain,name) {
        return captain && name.length;
      }

      _hidePlayers(captain,status) {
        return !captain || status>=20 // 20 = started
      }

      equals(a,b) {
        return a==b
      }

    }
    window.customElements.define(SSFPlayMatchRow.is, SSFPlayMatchRow);
  </script>
</dom-module>
