<link rel="import" href="../polymer/polymer-element.html" />

<link rel="import" href="../iron-icons/iron-icons.html" />
<link rel="import" href="../iron-flex-layout/iron-flex-layout.html" />
<link rel="import" href="../iron-media-query/iron-media-query.html" />

<link rel="import" href="../paper-styles/shadow.html" />
<link rel="import" href="../paper-toast/paper-toast.html" />
<link rel="import" href="../paper-button/paper-button.html" />
<link rel="import" href="../paper-dialog/paper-dialog.html" />
<link rel="import" href="../paper-icon-button/paper-icon-button.html" />

<link rel="import" href="../chessalpha-core/chessalpha-core.html" />
<link rel="import" href="../chessalpha-board/chessalpha-board.html" />
<link rel="import" href="../chessalpha-board/chessalpha-graphics.html" />
<link rel="import" href="../chessalpha-game/chessalpha-game-mixin.html" />
<link rel="import" href="../chessalpha-game/chessalpha-game-clock-mixin.html" />
<link
  rel="import"
  href="../chessalpha-board/chessalpha-board-promotion-dialog.html"
/>

<link rel="import" href="../ssf-socket/ssf-socket-room-mixin.html" />
<link rel="import" href="ssf-play-game-socket-mixin.html" />

<dom-module id="ssf-play-game">
  <template>
    <style>
      :host > * {
        --chessalpha-board-background: {
          @apply --shadow-elevation-2dp;
        }
        --chessalpha-piece-selected: {
          background: rgba(255, 235, 59, 0.4);
        }
      }
      :host {
        @apply --layout-horizontal;
        @apply --layout-center-center;
        @apply --ssf-play-game;
        width: 100%;
        height: calc(100% - 56px);
      }
      .flex {
        @apply --layout-flex;
      }
      .side {
        height: 100%;
        width: 192px;
        margin-left: 16px;

        @apply --layout-vertical;
      }
      :host([view-color="16"]) .side {
        @apply --layout-vertical-reverse;
      }

      .side > div {
        width: 100%;
      }

      :host([view-color="8"]) .player.black,
      :host([view-color="16"]) .player.white {
        @apply --layout-vertical-reverse;
      }
      :host([view-color="16"]) .player.black,
      :host([view-color="8"]) .player.white {
        @apply --layout-vertical;
      }

      .clock {
        width: 100%;
        line-height: 64px;
        font-size: 36px;
      }
      :host([tomove="white"]) .white .clock,
      :host([tomove="black"]) .black .clock {
        background: #ffc;
      }
      .name {
        padding: 8px;
        font-size: 18px;
      }
      .status > div {
        padding: 16px 0;
      }
      .status .gameEndMessage {
        font-size: 0.7em;
        font-weight: 100;
      }

      .result-message {
        font-size: 36px;
      }

      .block {
        background: #fff;
        @apply --shadow-elevation-2dp;
      }
      .resign {
        background: #fff;
      }
      .center {
        text-align: center;
      }

      paper-toast div {
        @apply --layout-horizontal;
      }
      paper-toast div span {
        line-height: 24px;
        @apply --layout-flex;
      }

      :host([small-screen]) {
        -ms-flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
        flex-direction: column-reverse;
      }
      :host([small-screen]) .side,
      :host([small-screen][view-color="16"]) .side {
        height: auto;
        -ms-flex-direction: row-reverse;
        -webkit-flex-direction: row-reverse;
        flex-direction: row-reverse;
        width: 100%;
        margin: 0 0 8px;
      }
      :host([small-screen]) .side > div,
      :host([small-screen]) .clock {
        width: auto;
      }
      :host([small-screen]) .clock {
        min-width: 144px;
      }
      :host([small-screen]) .side .flex-1,
      :host([small-screen]) .side .flex-4 {
        -ms-flex: 0 0 0;
        -webkit-flex: 0;
        flex: 0;
      }
      :host([small-screen][view-color="8"]) .player.white,
      :host([small-screen][view-color="16"]) .player.white,
      :host([small-screen][view-color="8"]) .player.black,
      :host([small-screen][view-color="16"]) .player.black {
        @apply --layout-vertical;
      }
      :host([small-screen]) .player.black .name {
        text-align: right;
      }

      #video-toast {
        display: flex; 
        align-items: center; 
        padding: 0 24px;
      }
      #video-toast paper-button {
        color: var(--app-primary-color, --primary-color);
      }
      paper-dialog {
        padding: 0;
      }
      paper-dialog div {
        margin: 0;
        padding: 0;
        width: 800px;
        max-width: 100%;
        padding-bottom: 56.25%;
        position: relative;
        background: #000;
      }
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      iron-icon {
        cursor: pointer;
      }
    </style>

    <iron-media-query
      query="max-width: 600px"
      query-matches="{{ smallScreen }}"
    ></iron-media-query>

    <chessalpha-board
      id="board"
      fit
      size="[[boardSize]]"
      bound-calc-width="[[calcBoardWidth]]"
      reversed="[[reversed(viewColor)]]"
      create-move="[[createMove]]"
      is-valid-move="[[isValidMove]]"
    >
      <chessalpha-graphics
        slot="innerboard"
        id="graphics"
        reversed="[[reversed(viewColor)]]"
      ></chessalpha-graphics>
      <chessalpha-board-promotion-dialog
        slot="innerboard"
        id="promotionDialog"
        on-selected-piece-changed="_userPromote"
      ></chessalpha-board-promotion-dialog>
    </chessalpha-board>

    <div class="side">
      <div class="flex-1 flex"></div>
      <div class="black player">
        <div class="name">[[game.black.name]]</div>
        <div class="clock block center">[[blackclock]]</div>
      </div>
      <div class="flex-2 flex"></div>
      <div class="center">
        <div
          class="status block"
          hidden$="[[!_statusMessage(game.status, game.result)]]"
        >
          <div class="status-message">
            <div class="result">
              [[_statusMessage(game.status, game.result)]]
            </div>
            <div class="gameEndMessage">
              [[_gameEndMessage(game.status)]]
            </div>
          </div>
        </div>
        <div hidden$="[[!game.result]]">
          <paper-icon-button
            icon="icons:chevron-left"
            on-tap="_prevIfEnded"
          ></paper-icon-button>
          <paper-icon-button
            icon="icons:chevron-right"
            on-tap="_nextIfEnded"
          ></paper-icon-button>
        </div>
      </div>
      <div class="center" hidden$="[[!showResignButton]]">
        <paper-button
          toggles
          active="{{ _confirmResign }}"
          hidden$="[[_confirmResign]]"
          >Ge upp</paper-button
        >
        <div hidden$="[[!_confirmResign]]">
          <span>Vill du verkligen ge upp?</span>
          <paper-button
            toggles
            active="{{ _confirmResign }}"
            on-tap="_doResign"
            >Ja</paper-button
          >
          <paper-button toggles active="{{ _confirmResign }}">Nej</paper-button>
        </div>
      </div>

      <div class="flex-3 flex"></div>
      <div class="white player">
        <div class="name">[[game.white.name]]</div>
        <div class="clock block center">[[whiteclock]]</div>
      </div>
      <div class="flex-4 flex"></div>
    </div>

    <paper-toast id="toast">
      <div>
        <span style="margin-right: 8px">[[toastMessage]]</span
        ><iron-icon
          icon="icons:close"
          onclick="this.parentNode.parentNode.toggle()"
        ></iron-icon>
      </div>
    </paper-toast>

    <paper-toast id="video-toast" opened="[[_videoToastMessage(game.status)]]" duration="0">
      <span style="margin-right: 8px">[[_videoToastMessage(game.status)]]</span>
      <paper-button on-tap="_handleToastTap">Visa video</paper-button>
      <iron-icon
        icon="icons:close"
        onclick="this.parentNode.close()"
      ></iron-icon>
    </paper-toast>

    <paper-dialog id="videoDialog" entry-animation="scale-up-animation" on-opened-changed="_handleDialogToggle">
      <div>
        <iframe id="videoFrame" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </paper-dialog>
  </template>

  <script>
    /**
     * `ssf-play-game`
     *
     *
     * @customElement
     * @polymer
     * @appliesMixin Polymer.ChessalphaGameMixin
     * @appliesMixin Polymer.ChessalphaGameClockMixin
     * @appliesMixin Polymer.SSFSocketRoomMixin
     * @appliesMixin Polymer.SSFPlayGameSocketMixin
     * @demo demo/index.html
     */

    class SSFPlayGame extends Polymer.SSFPlayGameSocketMixin(
      Polymer.SSFSocketRoomMixin(
        Polymer.ChessalphaGameClockMixin(
          Polymer.ChessalphaGameMixin(Polymer.Element),
        ),
      ),
    ) {
      static get is() {
        return "ssf-play-game";
      }
      static get properties() {
        return {
          game: {
            type: Object,
            value: function() {
              return new chessalpha.Game();
            },
          },

          calcBoardWidth: {
            type: Object,
            value: function() {
              return function(parent) {
                return parent.offsetWidth - !parent.smallScreen * (192 + 16);
              };
            },
          },

          isValidMove: {
            type: Object,
            value: function() {
              return this._userMove.bind(this);
            },
          },

          keyEventTarget: {
            type: Object,
            value: function() {
              return document.body;
            },
          },

          innerBoardElement: {
            type: HTMLElement,
          },

          msg: {
            type: Object,
            value: () => ({
              ACCEPTED: "Väntar på spelare",
              WHITEWIN: "Vit vann",
              BLACKWIN: "Svart vann",
              DRAW: "Remi",
            }),
          },

          smallScreen: {
            type: Boolean,
            value: false,
            reflectToAttribute: true,
          },

          showResignButton: {
            type: Boolean,
            value: false,
            computed:
              "_userAllowedToResign(game.current.by, game.status, socket.id)",
          },
        };
      }

      connectedCallback() {
        super.connectedCallback();
        this.innerBoardElement = this.boardElement.innerBoardElement;

        document.body.addEventListener("keydown", this._keyEvent.bind(this));
      }

      get boardElement() {
        return this.$.board;
      }
      get graphicsElement() {
        return this.$.graphics;
      }
      get promotionDialogElement() {
        return this.$.promotionDialog;
      }
      get toastElement() {
        return this.$.toast;
      }

      static get observers() {
        return ["_statusChanged(game.status)"];
      }

      _statusChanged(status) {
        if (status === chessalpha.status.STOPPED) {
          this._toastMessage("Partiet har stoppats av en administratör", -1);
        } else if (
          status === chessalpha.status.STARTED &&
          this.game.current.prev &&
          (this.game.current.start ||
            (this.game.current.prev.prev && this.game.current.prev.start))
        ) {
          this._toastMessage("Varsågod att fortsätta spela 🙂", -1);
        }
      }

      _onRoomMessage(message) {
        super._onRoomMessage(message);
        if (message) {
          if (message["game:undo"]) {
            if (
              this.game.current.start === true &&
              message["game:undo"] === 1
            ) {
              this._toastMessage(
                "Ett drag har tagits tillbaka på grund av inaktivitet",
                -1,
              );
            } else {
              this._toastMessage(
                "En administratör har tagit bort drag från partiet",
                -1,
              );
            }
          }
          if (
            message.set &&
            message.set.path.startsWith("game.movelist.list.")
          ) {
            this.notifyPosition();
          }
        }
      }

      _statusMessage(status, result) {
        if (status < chessalpha.status.ACCEPTED) return this.msg.ACCEPTED;
        if (status >= chessalpha.status.ABORTED)
          return result == chessalpha.result.WHITEWIN
            ? this.msg.WHITEWIN
            : result == chessalpha.result.BLACKWIN
            ? this.msg.BLACKWIN
            : result == chessalpha.result.DRAW
            ? this.msg.DRAW
            : "";
        return "";
      }

      _userPromote(e) {
        const value = e.detail.value;
        if (this.__promotionMove && value) {
          this.boardElement.move(
            (this.__promotionMove >> 8) | ((this.__promotionMove & 0xff) << 8),
            0,
          );
          this._userMove(
            this.__promotionMove |
              (chessalpha[
                "Promote" +
                  value.type.charAt(0).toUpperCase() +
                  value.type.slice(1)
              ] <<
                16),
          );
        }
      }

      _userMove(move) {
        if (this.game.status < chessalpha.status.ABORTED) {
          const permissions = this.permissions(this.socket.id);
          let p;
          if (!permissions) {
            this._toastMessage(
              "Du har inga rättigheter att göra drag, testa att logga in!",
            );
          } else if (
            (this.game.position.board[move & 0xff] & 24) !=
            this.game.position.tomove
          ) {
            this._toastMessage(
              "Det är inte " +
                { 8: "vits", 16: "svarts" }[
                  this.game.position.board[move & 0xff] & 24
                ] +
                " tur att dra!",
            );
          } else if (!(permissions & this.game.position.tomove)) {
            this._toastMessage(
              "Du har inga rättigheter att göra drag för den här färgen!",
            );
          } else if (!this.game[chessalpha.formatColorstring(permissions)].id) {
            this._toastMessage(
              "Du måste välja vem som ska spela innan det är möjligt att göra drag!",
            );
          } else if (this.game[chessalpha.formatColorstring(permissions)].id.split(":")[1] == -100) {
            this._toastMessage(
              "Du får inte göra drag när spelaren är vald som W.O.",
            );
          } else if (
            (move >> 16) & chessalpha.Promotion &&
            this.promotionDialogElement &&
            !this.promotionDialogElement.opened &&
            ~this.game.position._validMoves(move & 0xff).indexOf(move)
          ) {
            this.promotionDialogElement.color = this.boardElement.getPiece(
              move & 0xff,
            ).color;
            this.promotionDialogElement.opened = true;

            this.__promotionMove = move & 0xffff;
            this.boardElement.move(this.__promotionMove);
          } else if (this.move(move) != null) {
            this.send({ "game:move": move });
            this.promotionDialogElement.opened = false;
            this.set("game.current.by", this.socket.id);
          } else if (
            this.game.position.inCheck ||
            (p = new chessalpha.Position(this.game.position).move(
              move,
            ))._inCheck(p.tomove ^ 24)
          ) {
            this._toastMessage(
              "Din kung står i schack efter det valda draget!",
            );
          }
        }
      }

      _statusMessage(status, result) {
        if (status < chessalpha.status.ACCEPTED) return "Väntar på motståndare";
        if (status >= chessalpha.status.ABORTED)
          return this.game.result == chessalpha.result.WHITEWIN
            ? "Vit vann"
            : this.game.result == chessalpha.result.BLACKWIN
            ? "Svart vann"
            : this.game.result == chessalpha.result.DRAW
            ? "Remi"
            : "";
        return "";
      }
      _gameEndMessage(status) {
        return status == chessalpha.status.MATE
          ? "Schackmatt"
          : status == chessalpha.status.RESIGN
          ? "Uppgivet"
          : status == chessalpha.status.OUTOFTIME
          ? "Tidsförlust"
          : status == chessalpha.status.STALEMATE
          ? "Patt"
          : status == chessalpha.status.MOVE50
          ? "50 drags regeln"
          : status == chessalpha.status.THREEFOLD
          ? "Dragupprepning"
          : status == chessalpha.status.INSUFFICIENTMATERIAL
          ? "Otillräckligt med material"
          : "";
      }

      _equals() {
        return Array.prototype.reduce.call(arguments, (a, b) => a == b);
      }

      _prevIfEnded() {
        if (this.game.status >= chessalpha.status.ABORTED) this.prev();
      }
      _nextIfEnded() {
        if (this.game.status >= chessalpha.status.ABORTED) this.next();
      }

      _keyEvent(e) {
        if (e.keyCode == 37) this._prevIfEnded();
        else if (e.keyCode == 39) this._nextIfEnded();
      }

      _toastMessage(message, duration) {
        this.toastMessage = message;
        this.toastElement.duration = duration || 3000;
        this.toastElement.open();
      }

      _userAllowedToResign(by, status, socketId) {
        if (status != 20 || !this.permissions(socketId)) return false;
        let node = this.game.current;
        do {
          if (node.by == socketId) return true;
        } while ((node = node.prev));
        return false;
      }
      
      _videoToastMessage(status) {
        return status === chessalpha.status.MATE
          ? 'Se en video om schackmatt'
          : status === chessalpha.status.STALEMATE
          ? 'Se en video om patt'
          : this.game.status === chessalpha.status.THREEFOLD
          ? "Se en video om remi"
          : this.game.status === chessalpha.status.MOVE50
          ? "Se en video om remi"
          : this.game.status === chessalpha.status.INSUFFICIENTMATERIAL
          ? "Se en video om remi"
          : null;
      }

      _handleToastTap() {
        const videoId = this.game.status === chessalpha.status.MATE
          ? "41sItC-7VC4"
          : this.game.status === chessalpha.status.STALEMATE
          ? "qt_ieQn3Bac"
          : this.game.status === chessalpha.status.THREEFOLD
          ? "fykzoDUuPVY"
          : this.game.status === chessalpha.status.MOVE50
          ? "zwAkVP_s_dA"
          : this.game.status === chessalpha.status.INSUFFICIENTMATERIAL
          ? "oO5UivkdkGA"
          : null;
        
        if(videoId) {
          this.$.videoFrame.setAttribute('src', `https://www.youtube.com/embed/${videoId}?autoplay=1&modestbranding=1`);
          this.$.videoDialog.open();
        }
      }

      _handleDialogToggle(e) {
        if (!e.detail.value) {
          this.$.videoFrame.removeAttribute('src');
        }
      }
    }

    window.customElements.define(SSFPlayGame.is, SSFPlayGame);
  </script>
</dom-module>
