<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../web-animations-js/web-animations-next-lite.min.html">

<link rel="import" href="../app-route/app-route.html">

<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../iron-pages/iron-pages.html">

<link rel="import" href="../paper-card/paper-card.html">
<link rel="import" href="../paper-menu-button/paper-menu-button.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-listbox/paper-listbox.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-spinner/paper-spinner-lite.html">

<link rel="import" href="../memdb-login/memdb-login.html">

<link rel="import" href="../ssf-socket/ssf-socket-latency.html">

<link rel="import" href="../ssf-socket/ssf-socket-mixin.html">
<link rel="import" href="../ssf-socket/ssf-socket-heartbeat-mixin.html">
<link rel="import" href="../ssf-socket/ssf-socket-auth-mixin.html">

<link rel="import" href="ssf-play-lobby.html">
<link rel="import" href="ssf-play-game.html">
<link rel="import" href="ssf-play-match.html">

<dom-module id="ssf-play">
  <template>
    <style>
      :host {
        display: block;
      }

      .horizontal {
        @apply --layout-horizontal;
      }
      .flex {
        @apply --layout-flex;
      }
      .card-actions.horizontal {
        @apply --layout-horizontal-reverse;
      }
      paper-button[primary] {
        color: var(--primary-color);
      }

      [name="logga-in"] [ready-state], [name="kickad"] {
        height: 100%;
        @apply --layout-vertical;
        @apply --layout-center-center;
      }
      [name="logga-in"] {
        height: 100%;
      }
      [name="logga-in"] [ready-state] > div {
        color: #999;
        padding: 16px;
        font-size: 12px;
      }
      iron-pages {
        height: calc(100% - 56px);
        position: relative;
      }

      .guest-button {
        background-color: var(--primary-color);
        color: #FFF;
      }

      .header {
        height: 56px;
        line-height: 56px;
        color: #999;
      }
      .header > div {
        margin: 0 24px;
        padding: 17px 8px;
        line-height: 24px;
        font-size: 16px;
        white-space: nowrap;
        cursor: default;
     }
      .header .tap {
        cursor: pointer;
      }
      ssf-socket-latency {
        margin-right: 4px;
      }
      paper-menu-button {
        padding: 0 8px;
        margin-right: 24px;
      }

      [hidden] {
        display: none;
      }
    </style>

    <app-route 
      route="{{route}}"
      pattern="/:page"
      data="{{routeData}}"
      tail="{{subRoute}}">
    </app-route>
    <app-route 
      route="{{subRoute}}"
      pattern="/:id"
      data="{{subRouteData}}">
    </app-route>

    <div class="header horizontal" hidden$="[[_hideHeader(page)]]">
      <div>
        <span class="tap" on-tap="_goToLobby">Lobby</span>
        <span hidden$="[[!_equals(page,'match')]]"><span style="margin: 0 8px;"> > </span><span>Match</span></span>
        <span hidden$="[[!_equals(page,'parti')]]"><span style="margin: 0 8px;"> > </span><span>Parti</span></span>
      </div>

      <div class="flex"></div>
      <div style="margin-right: 0">
        <ssf-socket-latency opened="[[socket.opened]]" latency="[[socket.latency]]" missed-heartbeats="[[socket.missedHeartbeats]]"></ssf-socket-latency>
        <span>[[socket.name]]</span>
      </div>
      <paper-menu-button horizontal-align="right" no-animations>
        <paper-icon-button icon="icons:more-vert" slot="dropdown-trigger"></paper-icon-button>
        <paper-listbox slot="dropdown-content">
          <paper-item on-tap="_goToLobby">Lobby</paper-item>
          <paper-item on-tap="_doLogout">Logga ut</paper-item>
        </paper-listbox>
      </paper-menu-button>
    </div>

    <iron-pages selected="[[page]]" attr-for-selected="name" selected-attribute="active" fallback-selection="logga-in">
      <div name="logga-in">

        <iron-pages selected="[[socket.readyState]]" attr-for-selected="ready-state" selected-attribute="active" fallback-selection="-1">
          <div ready-state="-1">
            <paper-button raised class="guest-button" on-tap="_doGuest">Logga in som gäst</paper-button>
            <div>- eller -</div>
            <paper-card>
              <memdb-login id="login" class="card-content" password-label="Lösenord" token="{{token}}"></memdb-login>
              <div class="card-actions horizontal">
                <paper-button primary on-tap="_doLogin">Logga in</paper-button>
                <paper-button on-tap="_doForgotPassword">Glömt lösenord</paper-button>
              </div>
            </paper-card>
          </div>
          <div ready-state="0">
            <paper-spinner-lite active="[[_equals(socket.readyState,0)]]"></paper-spinner-lite>
            <div>Ansluter till [[socket.url]]</div>
          </div>
        </iron-pages>

      </div>
      <div name="kickad">
        <paper-card heading="Du har blivit utloggad">
          <div class="card-content">Din användare <i>([[socket.name]])</i> har loggat in igen.</div>
          <div class="card-actions horizontal">
            <paper-button primary on-tap="_reconnect">Återanslut</paper-button>
          </div>
        </paper-card>
      </div>
      <ssf-play-lobby name="lobby" socket="[[socket]]" matchid="{{matchid}}"></ssf-play-lobby>
      <ssf-play-game name="parti" socket="[[socket]]" gameid="[[gameid]]"></ssf-play-game>
      <ssf-play-match name="match" socket="[[socket]]" matchid="[[matchid]]" gameid="{{gameid}}"></ssf-play-match>
    </iron-pages>

  </template>

  <script>
    /**
     * `ssf-play`
     * 
     *
     * @customElement
     * @polymer
     * @appliesMixin Polymer.SSFSocketMixin
     * @appliesMixin Polymer.SSFSocketHeartbeatMixin
     * @appliesMixin Polymer.SSFSocketAuthMixin
     * @demo demo/index.html
     */
    class SSFPlay extends Polymer.SSFSocketAuthMixin(Polymer.SSFSocketHeartbeatMixin(Polymer.SSFSocketMixin(Polymer.Element))) {
      static get is() { return 'ssf-play'; }
      static get properties() {
        return {
          token: {
            type: String,
            observer: "_tokenChanged"
          },
          route: {
            type: Object
          },
          page: {
            type: String,
            observer: '_pageChanged'
          },
          gameid: {
            type: String,
            observer: '_gameidChanged'
          },
          matchid: {
            type: String,
            observer: '_matchidChanged'
          },
          preferdPage: {
            type: String
          }
        }
      }

      static get observers() {
        return [
          "_routeChanged(routeData.*)",
          "_subRouteChanged(subRouteData.*)",
          "_onPlayMessage(socket.message)",
          "_onKicked(socket.kicked)"
        ]
      }

      connectedCallback() {
        super.connectedCallback()
        const match = document.cookie.match(new RegExp("chessalpha-play-secret" + '=([^;]+)'))
        if(match) {
          this.set("socket.secret", match[1]);
          this.socket.connect();
        }
        else {
          if(this.route) this.preferdPage = this.route.path;
          this.page = "logga-in";
        }
      }

      _tokenChanged(token) {
        if(token) {
          if(this.socket.opened)
            this.socket.send({auth: { token: token }});
          else {
            this.set("socket.token", token);
            this.socket.connect();
          }
        }
      }

      _routeChanged() {
        const page = this.routeData.page;

        if(page) {
          if(page!="parti") this.gameid = null;
          if(page!="match") this.matchid = null;
          this.page = page;
        }
      }

      _subRouteChanged() {
        const id = this.subRouteData.id
        const page = this.routeData.page;
        
        if(id) {
          if(page=="parti") this.gameid = id;
          else if(page=="match") this.matchid = id;
        }
        console.log(this.gameid);
      }

      _pageChanged(page) {
        if(page && this.routeData.page!=page) {
          if(page=="parti") this.matchid = null;
          else if(page=="match") this.gameid = null;
          this.set("route.path", "/"+page);
        }
        if(page) {
          document.title = "Spela Schack - "+page.charAt(0).toUpperCase() + page.slice(1).replace("-"," ");
          if(typeof ga=="function") {
            ga('set', 'page', page);
            ga('send', 'pageview');
          }
        }
      }

      _gameidChanged(gameid) {
        if(gameid && this.subRouteData.id!=gameid) {
          this.page = "parti";
          this.set("subRoute.path", "/"+gameid); 
          this.matchid = null;
        }
      }

      _matchidChanged(matchid) {
        if(matchid && this.subRouteData.id!=matchid) {
          this.page = "match";
          this.set("subRoute.path", "/"+matchid); 
          this.gameid = null;
        }
      }

      _onKicked(kicked) {
        if(kicked) {
          this.preferedPage = this.route.path;
          this.page = "kickad";
        }
      }

      _doLogin() {
        this.$.login.submit();
      }

      _doForgotPassword() {
        this.$.login.resetPassword();
      }

      _doGuest() {
        if(this.socket.opened)
          this.socket.send({auth: {}});
        else
          this.socket.connect();
      }

      _reconnect() {
        this.socket.connect();
      }

      _preferedPage() {
        if(this.preferedPage) {
          this.set("route.path", this.preferedPage)
          this.preferedPage = null;
        }
        else if(!this.page || ~["logga-in","kickad"].indexOf(this.page))
          this.page = "lobby";
      }

      _doLogout() {
        document.cookie = 'chessalpha-play-secret=;expires=Thu, 01 Jan 1970 00:00:01 GMT;path=/';
        this.page = 'logga-in';
      }

      _goToLobby() {
        this.page = "lobby";
      }

      _onPlayMessage(message) {
        if(message) {
          console.log(message);
          if(message["challenge:accepted"]) 
            this.gameid = message["challenge:accepted"];
          else if(message.auth) {
            this._preferedPage();
            document.cookie = 'chessalpha-play-secret=' + message.auth.secret + ';path=/';
          }
        }
      }

      _equals() {
      	return Array.prototype.reduce.call(arguments, function(a, b) {return(a==b)?true:false;});
      }

      _hideHeader(page) {
        return !!~["logga-in","kickad"].indexOf(page);
      }

    }

    window.customElements.define(SSFPlay.is, SSFPlay);
  </script>
</dom-module>
