<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-selector/iron-selector.html">

<link rel="import" href="../paper-card/paper-card.html">
<link rel="import" href="../paper-spinner/paper-spinner-lite.html">

<link rel="import" href="../paper-styles/default-theme.html">

<link rel="import" href="../chessalpha-icons/chessalpha-icons.html">
<link rel="import" href="ssf-play-game-light.html">
<link rel="import" href="ssf-play-match-row.html">

<link rel="import" href="../ssf-socket/ssf-socket-room-mixin.html">

<link rel="import" href="ssf-play-match-mixin.html">
<link rel="import" href="ssf-play-match-style.html">


<dom-module id="ssf-play-match">
  <template>
    <style include="ssf-play-match-style"></style>
    <style>
      p {
        text-align: center;
        color: rgba(0, 0, 0, 0.54);
      }
      a {
        color: var(--primary-color);
        text-decoration: none;
      }
    </style>


    <div class="games">
      <iron-selector attr-for-selected="gameid" selected="{{gameid}}" style$="width: calc([[match.games.length]] * 300px)">
        <template is="dom-repeat" items="[[match.games]]">
          <ssf-play-game-light socket="[[socket]]" active="[[active]]" gameid="[[item]]" view-color="[[_viewColor(index,captain)]]"></ssf-play-game-light>
        </template>
      </iron-selector>
    </div>
    <paper-spinner-lite active="[[!match._id]]" hidden$="[[match._id]]"></paper-spinner-lite>
    <paper-card hidden$="[[!match._id]]">
      <div class="content">
        <paper-item class="header" disabled>
          <div class="cell board"></div>
          <div class="cell color"></div>
          <div class="cell name flex">[[match.home]]</div>
          <div class="cell color"></div>
          <div class="cell name flex">[[match.away]]</div>
          <div class="cell result">[[match.homePoints]]-[[match.awayPoints]]</div>
        </paper-item>
        <paper-item disabled>
          <div class="cell board">Lagledare</div>
          <div class="cell color"></div>
          <div class="cell name flex">
            <template is="dom-repeat" items="[[match.homeCaptains]]">
              <div>[[item.name]]</div>
            </template>
          </div>
          <div class="cell color"></div>
          <div class="cell name flex">
            <template is="dom-repeat" items="[[match.awayCaptains]]">
              <div>[[item.name]]</div>
            </template>
          </div>
          <div class="cell result"></div>
        </paper-item>
        <iron-selector attr-for-selected="gameid" selected="{{gameid}}">
          <template is="dom-repeat" items="[[match.games]]">
            <ssf-play-match-row
              active="[[active]]"
              socket="[[socket]]"
              gameid="[[item]]" 
              index="[[index]]" 
              home-players="[[room.clients]]" 
              away-players="[[room.clients]]"
              home-captain="[[_bitand(captain,8)]]"
              away-captain="[[_bitand(captain,16)]]">
            </ssf-play-match-row>
          </template>
        </iron-selector>
      </div>
    </paper-card>
  </template>
  <script>
    /**
     * `ssf-play-match`
     * 
     *
     * @customElement
     * @polymer
     * @appliesMixin Polymer.SSFSocketRoomMixin
     * @appliesMixin Polymer.SSFPlayMatchMixin
     * @demo demo/index.html
     */
    class SSFPlayMatch extends Polymer.SSFPlayMatchMixin(Polymer.SSFSocketRoomMixin(Polymer.Element)) {
      static get is() { return 'ssf-play-match'; }
      static get observers() {
        return [
          "_activeChanged(active)"
        ]
      }

      _activeChanged(active) {
        if(!active) {
          this.matchid = null;
          this.match = null;
        }
      }

      _and(a,b) {
      	return a&&b;
      }
      _bitand() {
      	return Array.prototype.reduce.call(arguments, (a, b) => a&b);
      }
      _reversed(index) {
        return !Boolean(index%2);
      }
      _viewColor(index,captain) {
        return [16,8][index%2^captain>>4]
      }
    }
    window.customElements.define(SSFPlayMatch.is, SSFPlayMatch);
  </script>
</dom-module>