<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">

<dom-module id="ssf-play-match-style">
<template>
<style>
:host {
  display: block;
  @apply --layout-vertical;
  @apply --layout-center;
  padding: 8px;

  color: rgba(0, 0, 0, 0.87);
  white-space: nowrap;
}
:host > * {
  --row: {
    border-bottom: 1px solid #e3e3e3;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.1;
    min-height: 36px;
  };
  --row-cell-grey: {
    color: var(--paper-item-disabled-color, --disabled-text-color);
  };
  --row-cell-color: {
    width: 24px;
    height: 24px;
    margin: 0 8px;
  };
  --row-cell-result: {
    min-width: 56px;
    text-align: center;
  };
  --row-cell-name: {
    line-height: 36px;
    height: 36px;
    min-width: 144px;
  };
  --row-cell-name-name: {
    display: inline-block;
    max-width: 108px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  };
  --row-cell-board: {
    min-width: 72px;
  };
  --chessalpha-board: {
    pointer-events: none;
  };
}
.flex {
  @apply --layout-flex;
}
paper-card {
  max-width: 800px;
}
paper-card .content {
  @apply --layout-vertical;
}
paper-card .item {
  @apply --layout-horizontal;
}

.header {
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  font-weight: 600;
  height: 48px;
}
paper-item {
  @apply --row;
}

.board {
  @apply --row-cell-board;
}
.color {
  @apply --row-cell-color;
}
.result {
  @apply --row-cell-result;
}
.name {
  @apply --row-cell-name;
}
[grey] {
  @apply --cell-grey;
}
.games {
  width: 100%;
  overflow: auto;
  margin-bottom: 16px;
}
.games iron-selector {
  @apply --layout-horizontal;
  height: calc(300px + 64px);
  padding-bottom: 16px;
  margin: 0 auto;
}
ssf-play-game-light {
  min-height: 300px;
  min-width: 300px;
  cursor: pointer;
  margin: 0 4px;
}
paper-item .name {
  height: auto;
  line-height: 24px;
  padding: 8px 0;
}
</style>
</template>
</dom-module>