<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">

<link rel="import" href="../paper-card/paper-card.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../paper-radio-group/paper-radio-group.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-item/paper-icon-item.html">
<link rel="import" href="../paper-tooltip/paper-tooltip.html">
<link rel="import" href="../paper-input/paper-input.html">

<link rel="import" href="../vaadin-combo-box/vaadin-combo-box-light.html">

<link rel="import" href="../chessalpha-icons/chessalpha-icons.html">

<link rel="import" href="../ssf-socket/ssf-socket-room-mixin.html">

<dom-module id="ssf-play-lobby">
  <template>
    <style>
      :host {
        display: block;
        @apply --layout-horizontal;
        max-width: 800px;
        width: 384px;
        margin: 0 auto;
        padding: 8px;
      }
      paper-card {
        width: calc(50% - 16px);
        width: 100%;
        margin: 8px;
      }
      paper-card .content {
        height: 360px;
        overflow: auto;
      }
      paper-card .content .noitems {
        line-height: 360px;
        text-align:center;
        white-space: nowrap;
      }
      paper-icon-item, paper-item {
        cursor: pointer;
      }
      paper-icon-item[disabled] {
        pointer-events: initial !important;
      }
      .name {
        @apply --layout-flex;
      }
      .light {
        font-weight: lighter;
        font-size: .8em;
      }
      .card-content.info {
        margin-top: -16px;
        padding: 0 16px 16px;
      }
      .card-content.info, .noitems {
        color: #999;
      }
      
      @media only screen and (max-width : 480px) {
        :host {
          @apply --layout-vertical;
        }
        paper-card {
          width: calc(100% - 16px);
        }
      }
    </style>

    <paper-card heading="Utmaningar" class="vertical">
      <div class="card-content info">Klicka på en utmaning nedan för att anta den.</div>
      <div class="content flex">
        <template is="dom-if" if="[[!room.challenges.length]]"><div class="noitems">Inga utmaningar finns</div></template>
        <template is="dom-repeat" items="[[room.challenges]]" sort="_sortById">
          <paper-icon-item disabled="[[_socketEquals(item.challenger.id,socket.id)]]" on-tap="_selectChallenge">
            <div slot="item-icon">
              <iron-icon icon="[[_colorIcon(item.playAs)]]"></iron-icon>
              <paper-tooltip animation-delay="0" offset="0">[[__(item.playAs,'color')]]</paper-tooltip>
            </div>
            <div class="name">[[item.challenger.name]]</div>
            <div class="light">[[_timecontrol(item.timecontrol)]]</div>
          </paper-icon-item>
        </template>
      </div>
      <div class="card-actions">
        <paper-button active="{{createChallengeDialogShow}}" toggles>Ny utmaning</paper-button>
      </div>
    </paper-card>

    <!-- <paper-card heading="Matcher" class="vertical">
      <div class="card-content info">&nbsp;</div>
      <div class="content flex">
        <template is="dom-if" if="[[!room.matches.length]]"><div class="noitems">Ingen match har skapats än</div></template>
        <template is="dom-repeat" items="[[room.matches]]" sort="_sortById">
          <paper-item disabled="[[_socketEquals(item.challenger.id,socket.id)]]" on-tap="_selectMatch">
            <div class="name">[[item.home]] - [[item.away]]</div>
          </paper-item>
        </template>
      </div>
      <div class="card-actions">
        <paper-button active="{{createMatchDialogShow}}" toggles>Ny match</paper-button>
      </div>
    </paper-card> -->

    <paper-dialog opened="{{createChallengeDialogShow}}">
      <h2>Skapa en utmaning</h2>
      <div>
        <div><paper-toggle-button checked="{{_newChallenge.private}}">Privat utmaning</paper-toggle-button></div>
        <div hidden$="[[!_newChallenge.private]]">
          <vaadin-combo-box-light value="{{_newChallenge.opponent}}" filter="[[_newChallengeFilter]]" items="[[_filterClients(room.clients, socket.id, room.clients.*)]]" item-label-path="name" item-value-path="id">
            <paper-input label="Motståndare" value="{{_newChallengeFilter}}" class="input"></paper-input>
            <template><paper-item>[[item.name]]</paper-item></template>
          </vaadin-combo-box-light>
        </div>
        <div>
          <label id="playAsGame">Spela som:</label>
          <paper-radio-group aria-labelledby="playAsGame" selected="{{_newChallenge.playAs}}">
            <paper-radio-button name="white">Vit</paper-radio-button>
            <paper-radio-button name="random">Random</paper-radio-button>
            <paper-radio-button name="black">svart</paper-radio-button>
          </paper-radio-group>
        </div>
        <div><paper-input value="{{_newChallenge.timecontrol.0.start}}" label="Minuter per spelare"><div suffix>minuter</div></paper-input></div>
        <div><paper-input value="{{_newChallenge.timecontrol.0.increment}}" label="Tilläggssekunder"><div suffix>sekunder</div></paper-input></div>
      </div>
      <div class="buttons"><paper-button dialog-confirm on-tap="_createChallenge">Skapa utmaning</paper-button></div>
    </paper-dialog>

    <paper-dialog opened="{{createMatchDialogShow}}">
      <h2>Skapa en match</h2>
      <div>
        <div>
          <vaadin-combo-box-light value="{{_newMatch.opponent}}" filter="[[_newMatchFilter]]" items="[[_filterClients(room.clients, socket.id, room.clients.*)]]" item-label-path="name" item-value-path="id">
            <paper-input label="Motståndare" value="{{_newMatchFilter}}" class="input"></paper-input>
            <template><paper-item>[[item.name]]</paper-item></template>
          </vaadin-combo-box-light>
        </div>
        <div><paper-input value="{{_newMatch.boards}}" label="Antal bord"><div suffix>bord</div></paper-input></div>
        <div><paper-input value="{{_newMatch.timecontrol.0.start}}" label="Minuter per spelare"><div suffix>minuter</div></paper-input></div>
        <div><paper-input value="{{_newMatch.timecontrol.0.increment}}" label="Tilläggssekunder"><div suffix>sekunder</div></paper-input></div>
      </div>
      <div class="buttons"><paper-button dialog-confirm on-tap="_createMatch">Skapa match</paper-button></div>
    </paper-dialog>

  </template>

  <script>
    /**
     * `ssf-play-lobby`
     * 
     *
     * @customElement
     * @polymer
     * @appliesMixin Polymer.SSFSocketRoomMixin
     * @demo demo/index.html
     */
    class SSFPlayLobby extends Polymer.SSFSocketRoomMixin(Polymer.Element) {
      static get is() { return 'ssf-play-lobby'; }

      _newChallengeDefault() {
        return {
          private: false,
          playAs: "random",
          timecontrol: [{
            start: 10,
            increment: 5
          }]
        }
      }

      _newMatchDefault() {
        return {
          private: false,
          playAs: "random",
          boards: 5,
          timecontrol: [{
            start: 10,
            increment: 5
          }]
        }
      }

      static get properties() {
        return {

          active: {
            type: Boolean,
            value: false
          },

          roomid: {
            type: String,
            value: "lobby"
          },

          gameid: {
            type: String,
            notify: true
          },

          matchid: {
            type: String,
            notify: true
          },

          _newChallenge: {
            type: Object,
            value: function() {
              return this._newChallengeDefault();
            }
          },
          _newMatch: {
            type: Object,
            value: function() {
              return this._newMatchDefault();
            }
          }

        }
      }

      _socketEquals(a,b) {
        return a&&b&&a.split(":").slice(0,2).join(":")==b.split(":").slice(0,2).join(":")
      }

      _sortById(a,b) {
        return a._id > b._id ? -1:1;
      }
  
      _createChallenge() {
        const times = { start: 60000, increment: 1000 };
        this._newChallenge.timecontrol.forEach(function(tc) {
         for(var key in tc) {
            tc[key] *= times[key];
          }
        });

        this.socket.send({"challenge:new": this._newChallenge});
        this._newChallenge = this._newChallengeDefault();
      }

      _createMatch() {
        const times = { start: 60000, increment: 1000 };
        this._newMatch.timecontrol.forEach(function(tc) {
          for(var key in tc) {
            tc[key] *= times[key];
          }
        });

        this.socket.send({"match:new": this._newMatch });
        this._newMatch = this._newMatchDefault();
      }

      _selectChallenge(e) {
        const item = e.model.item;
        if(this._socketEquals(item.challenger.id, this.socket.id))
          this.socket.send({"challenge:remove":item._id});
        else
          this.socket.send({"challenge:accept":item._id});
      }

      _selectMatch(e) {
        const item = e.model.item;
        this.matchid = item._id;
      }

      _timecontrol(timecontrol) {
        return timecontrol[0].start/60000 + (timecontrol[0].increment/1000 ? "+"+timecontrol[0].increment/1000:"");
      }

      _colorIcon(color) {
        return ({ white: "chessalpha:white-icon", black: "chessalpha:black-icon", random: "chessalpha:board-icon" })[color];
      }

      _filterClients(clients, socketid) {
        return clients.filter(client => client.name && !this._socketEquals(client.id, socketid));
      }

      __(a) {
        var l = {
          white: "Vit",
          black: "Svart",
          random: "Random"
        }
        return l[a];
      }

    }

    window.customElements.define(SSFPlayLobby.is, SSFPlayLobby);
  </script>
</dom-module>
