<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>ssf-play demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../../app-route/app-route.html">
    <link rel="import" href="../../app-route/app-location.html">
    <link rel="import" href="../ssf-play.html">
    <custom-style>
      <style is="custom-style" include="demo-pages-shared-styles">
      </style>
    </custom-style>
  </head>
  <body>
    <div class="vertical-section-container centered" style="max-width: 1200px; min-width: 0">
      <h3>Basic ssf-play demo</h3>
      <demo-snippet>
        <template>
          <dom-bind id="app">
            <template>
              <app-location
                route="{{route}}"
                use-hash-as-path>
              </app-location>
              <ssf-play
                urls='[[urls]]'
                route="{{route}}"
                style="background: #EEE; height: 800px;">
              </ssf-play>
              <!-- urls='["ws://localhost:10001"]' -->
            </template>
          </dom-bind>
          <script>
            const app = document.getElementById("app")
            app.urls = [`ws://${location.hostname}:10001`]
          </script>
        </template>
      </demo-snippet>
    </div>
  </body>
</html>